

$primaryColor: #d66a7d;
$backgroundColor: #252729;
$borderColor: #aaaaaa;
$fontColor: #aaaaaa;
$fontFamily: 'Ubuntu', sans-serif;
$logoFontFamily: 'Pacifico', cursive;
$navigationFontFamily: 'Pacifico', cursive;
