<div class="auth-container" [@simpleFadeAnimation]="'in'">
  <div class="auth-box">
    <div class="card">
      <div class="card-header">
        <h4>Financials app</h4>
      </div>
      <div class="card-body">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <label for="email">Email</label>
            <input type="text" id="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="error">
              <div *ngIf="f.email.errors.required">Username is required</div>
            </div>
          </div>
          <div class="row">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="error">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="row row-submit">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
