
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$financials-primary: mat-palette($mat-indigo);
$financials-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$financials-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$financials-theme: mat-light-theme((
  color: (
    primary: $financials-primary,
    accent: $financials-accent,
    warn: $financials-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($financials-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$financials-primary: mat-palette($mat-indigo);
$financials-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$financials-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$financials-theme: mat-light-theme((
  color: (
    primary: $financials-primary,
    accent: $financials-accent,
    warn: $financials-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($financials-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$financials-primary: mat-palette($mat-indigo);
$financials-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$financials-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$financials-theme: mat-light-theme((
  color: (
    primary: $financials-primary,
    accent: $financials-accent,
    warn: $financials-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($financials-theme);

/* You can add global styles to this file, and also import other style files */

// Theme
@import 'assets/scss/theme/dark';

// Core
@import 'assets/scss/core/global';
@import 'assets/scss/core/mixins';
@import 'assets/scss/core/keyframes';

// Modules
@import 'assets/scss/modules/includes/header';
@import 'assets/scss/modules/includes/sidebar';
@import 'assets/scss/modules/includes/footer';
@import 'assets/scss/modules/includes/card';
@import 'assets/scss/modules/includes/loader';
@import 'assets/scss/modules/includes/pagination';
@import 'assets/scss/modules/includes/sort-by';
@import 'assets/scss/modules/includes/filters';
@import 'assets/scss/modules/forms';
@import 'assets/scss/modules/buttons';
@import 'assets/scss/modules/tables';

// Plugins
@import 'assets/scss/modules/plugins/sweetalert';
@import 'assets/scss/modules/plugins/ng-select';

// Pages
@import 'assets/scss/pages/login';
@import 'assets/scss/pages/dashboard';
@import 'assets/scss/pages/transactions';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
